/* General Style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 92vh;
}

/* Header and Container */
.container {
    width: 70%; /* Use a percentage width for better responsiveness */
    /*margin: 0 auto;*/
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
    border-radius: 15px; /* More rounded corners */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Headings */
.container-title{

}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

p.lead {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

h3{
    color: #4CAF50;
}

.container-handle{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.container-checking{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.container-cluster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

/* Form Upload */
.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%; /* Ensure the form groups take full width */
}

label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

input[type="file"], select, input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Media Queries for Tablets */
@media (max-width: 954px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .container-handle {
        flex-direction: column;
    }

    .container-checking, .container-cluster {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }

    h1 {
        font-size: 22px;
    }

    p.lead {
        font-size: 14px;
        margin-bottom: 15px;
    }

    label, input[type="file"], select, input[type="number"], button {
        font-size: 13px;
    }
}

.container-notification{
    margin: 20px;
}

/* Media Queries for Mobile */
@media (max-width: 480px) {
    .container {
        width: 100%;
        /*padding: 10px;*/
    }

    h1 {
        font-size: 20px;
    }

    p.lead {
        font-size: 12px;
        margin-bottom: 10px;
    }

    label, input[type="file"], select, input[type="number"], button {
        font-size: 12px;
    }
}
